<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swx.mapper.StudentMapper">


    <!--    <resultMap id="brandResultMap" type="brand">-->
    <!--        <result property="brandName" column="brand_name" />-->
    <!--        <result property="companyName" column="company_name" />-->
    <!--    </resultMap>-->

    <update id="update">
        update student
        <set>
            <if test="name != null and name !=''">
                name = #{name},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="sex !=null and sex !=''">
                sex = #{sex},
            </if>
            <if test="major != null and major !=''">
                major = #{major},
            </if>

        </set>
        where studentid = #{studentid};
    </update>

<!--    <select id="getCurriculumByIds" resultMap="BaseResultMap">-->
<!--        Select-->
<!--        <include refid="Base_Column_List" />-->
<!--        from  curriculum ID in-->
<!--        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">-->
<!--            #{item}-->
<!--        </foreach>-->
<!--    </select>-->

</mapper>